@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@1,500&family=Roboto:wght@400;500;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(120deg, #000000, #4D4855);

}

.calculator {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 16rem;
  text-align: center;
  border: 0.625rem solid #101116;
  background-color: #101116;
  border-radius: 0.313rem;
  background-image: linear-gradient(120deg, #000000, #4D4855);
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(3.75rem, auto);
}

input[type="text"] {
  height: 4.688rem;
  width: 15.563rem;
  background-color: #10111600;
  border: none;
  color: #ffffff;
  text-align: right;
  font-size: 1.563rem;
  font-weight: 500;
  letter-spacing: 0.063rem;
  margin-left: -1rem;
}

#clear {
  grid-column: 1/3;
  grid: 1;
  color: #262834;
}

#result {
  grid-column: 3/5;
  grid-row: 5;
  color: #262834;
}

#backspace {
  color: #262834;

}

button{
  margin: 0.313rem;
  border: none;
  border-radius: 0.313rem;
  cursor: pointer;
  background: #262834;
  color: #FFFFFF;
  font-weight: 500;
}

input:focus,
input:active,
button:active,
button:focus {
outline: none;
}

.highlight {
  background: #56cbdb;
}

.result{
  color: #FFF;
  text-align: right;
  margin-right: 1rem;
}